{% extends "base.html" %} {% block title%}Log in{% endblock %}

{% block content %}
  <form method="POST">
    <div class="login-container">
    <h1>Login</h1>
      <div id="input-container">
        <h>Email</h>
        <input 
          type="email" 
          class="form-control"
          id="email" 
          name="email"
          placeholder="Enter Email" 
          required
        >
      </div>
      <div id="input-container">
        <h>Password</h>
        <input 
          type="password" 
          class="form-control"
          id="password1" 
          name="password1"
          placeholder="Enter Password" 
          required
        >
      </div>
      <button type="submit" id="create-account">Login</button>
      <div>
        <h>Dont have an account?</h>
        <a id="register" href="/sign_up">Sign Up</a>
      </div>
    </div>
  </form>
{% endblock %}