body{
  background-image: url(background.avif);
  background-size: cover;
  font-family: "Arimo", sans-serif;
  color: white;

   
}

#container{
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 58rem;
}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 325px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: justify;
  margin-top: 5rem;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#input-container{
  display: flex;
  flex-direction: column;
}
.form-control{
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 260px;
  padding-left: 15px;
  margin-bottom: 30px;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.form-control::placeholder{
  color: white;
  opacity: 1;
}
.form-control{
  color: white;
  font-size: 15px;
}
h1{
  font-size: 30px;
  margin-bottom: 40px;
}
#input-container h{
  margin-bottom: 5px;
  justify-content: left;
}
#create-account{
  width: 279px;
  border: none;
  height: 44px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
  cursor: pointer;
}
#register{
  color: white;
}

.navbar{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 2rem;
  align-items: center;
  padding: 1rem;
}
.navbar a {
  color: white;
  margin-right: 1rem;
}
.alert, .green{
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
  background-color: rgb(197, 65, 65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.green {
  background-color: rgb(144, 189, 102);
}
.alert-message{
  font-weight: bold;
}
.close{
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
}
.cross{
  font-size: 2rem;
  color: rgb(124, 124, 124);
}
.remove{
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  margin-bottom: 20px;
  cursor: pointer;
}
.list-group-item{
  display: flex;
  justify-content: space-between;
}